@font-face {
  font-family: gow;
  src: url(/font/godofwar/GODOFWAR.TTF);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  margin: 1em;
  background: #666;
  color: #fff;
  background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
}

:root {
  --colorNormal: #ffffcc;
  --colorImportante: #ec7063;
  --colorBackGround: #666;
  --colorGrisOscuro: #111;
}

.btn-agregar {
  background-color: var(--colorGrisOscuro);
  text-transform: uppercase;
}

.input-group {
  display: flex;
  align-items: center;
}

.checkmark {
  height: 25px;
  width: 25px;
  margin: auto;
  text-align: center;
}

.text-blanco {
  color: #fff;
  padding-left: 10px;
}

/* Post It */

h2,
p {
  font-size: 100%;
  font-weight: normal;
  color: #000;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--colorGrisOscuro);
  background: var(--colorNormal);
  display: block;
  height: 15em;
  width: 15em;
  padding: 1em;
  /* Firefox */
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}

li {
  padding-top: 2em;
  padding-bottom: 2em;
  float: left;
}

li h2 {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}

li p {
  font-family: "Reenie Beanie", arial, sans-serif;
  font-size: 180%;
}

li a {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

li:nth-child(even) a {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

li:nth-child(3n) a {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

li:nth-child(5n) a {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

li a:hover,
li a:focus {
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

/* Centrar elementos en pantalla */

.importante {
  background: var(--colorImportante);
}

.botonX {
  background: rgba(0, 0, 0, 0);
  border-style: none;
}

/* No cambiar de color en hover */

li a:hover {
  color: #111;
}

h1 {
  color: #000;
  text-align: center;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Playfair Display", serif;
}

a h2 button {
  display: flex;
  position: relative;
  float: right;
}

.R-tittle {
  display: flex;
  position: relative;
  float: left;
}

.R-comment {
  display: flex;
  position: relative;
  float: left;
}

.boton {
  color: #000;
  display: flex;
  position: relative;
  float: right;
  top: -40px;
  cursor: pointer;
  font-size: 120%;
  overflow: hide;
}

hr {
  size: 2px;
  color: #000;
}

.row {
  padding-top: 20px;
}
